body{
    font-family: Calibri, Calibri, sans-serif;
    background-color: #455e85;
    margin: 0 auto;
    width: 800px;
}
h1 {
    color: black;
    margin-bottom: auto;
}
label{
    float: left;
    width: 11em;
    text-align: right;
    color: #3d1b0a;
}
input{
    margin-left: 1em;
    margin-right: .5em;
    margin-bottom: .5em;
    width: 11em;
}